# The base URL for the backend API. 
# For local development with docker-compose, this is typically http://localhost:3001/api
# When deployed to Kubernetes, this should be a relative path like /api, letting Nginx handle the proxy.
REACT_APP_API_URL=/api

# Scaleway credentials for registry login (optional, can be passed as environment variables)
SCW_SECRET_KEY=""
SCW_PUBLIC_KEY=""
