# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*.backup
*.tfvars

# Kubernetes config
kubeconfig.yaml

# Environment files
.env
frontend/.env
backend/.env

# Build output
/build
/dist

# Miscellaneous
.DS_Store
handleiding.pdf
*.pdf
